<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DEVHOUSE | Blog</title>
    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;900&display=swap"
        rel="stylesheet" />
</head>

<body id="blog-page">
    <header>
        <h1 class="title">DH NEWS</h1>
        <p class="posted-date">Postado em 02/03/2020</p>
    </header>
    <main>
        <section>
            <p class="intro">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla
                magnam <em>molestiae</em> quibusdam alias distinctio cupiditate eaque
                perspiciatis? Atque porro <strong>voluptates</strong> libero molestiae
                est inventore exercitationem laboriosam ullam ex incidunt. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Atque, sapiente tempora
                quisquam consequuntur, voluptates officiis ullam blanditiis molestiae
                pariatur aliquid obcaecati,
                <a href="#">dolore minus ipsum placeat ea aspernatur</a> et libero
                alias!em
            </p>

            <figure class="featured-fig">
                <img class="featured-img" src="/public/img/destaque.webp"
                    alt="dolore minus ipsum placeat ea aspernatur et" srcset="" />
                <figcaption>dolore minus ipsum placeat ea aspernatur et</figcaption>
            </figure>
            <h2>pariatur aliquid obcaecati, dolore minus ipsum placeat</h2>
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
                quisquam sapiente veniam nemo maiores alias aperiam repudiandae
                officiis quibusdam voluptate,
                <strong>eveniet modi quam error</strong> ducimus ea ut tempora aut
                minima. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Soluta praesentium, animi officiis incidunt reprehenderit unde
                recusandae illum, perspiciatis veniam, quod explicabo optio labore ad.
                Ipsam, quas. Suscipit eaque doloribus aliquid.
            </p>
            <ol class="content-list">
                <li>Soluta praesentiu</li>
                <li>tempora aut minim</li>
                <li>officiis quibusdam</li>
            </ol>
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi laborum
                accusamus deserunt iure saepe ratione libero. Temporibus sint sunt,
                numquam rem animi eos, quis dolor quaerat aperiam ullam laboriosam
                sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aspernatur voluptas et voluptatum nisi doloremque suscipit amet.
                Excepturi voluptates enim praesentium, explicabo eaque nemo
                perspiciatis officiis animi aliquid repellat adipisci expedita? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Sit rem iste
                blanditiis! Cupiditate, molestias maxime quo voluptatum earum dolorem
                provident sed quis officiis saepe dolorum distinctio optio porro
                necessitatibus non?
            </p>
            <h2>Provident sed quis officiis saepe dolorum</h2>
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi laborum
                accusamus deserunt iure saepe ratione libero. Temporibus sint sunt,
                numquam rem animi eos, quis dolor quaerat aperiam ullam laboriosam
                sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Aspernatur voluptas et voluptatum nisi doloremque suscipit amet.
            </p>

            <p class="content">
                Excepturi voluptates enim praesentium, explicabo eaque nemo
                perspiciatis officiis animi aliquid repellat adipisci expedita? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Sit rem iste
                blanditiis! Cupiditate, molestias maxime quo voluptatum earum dolorem
                provident sed quis officiis saepe dolorum distinctio optio porro
                necessitatibus non?
            </p>
        </section>
    </main>

    <footer align="center">
        <a target="_blank" href="https://facebook.com">
            <img class="social-icons" src="/public/img/facebook.svg" width="50" alt="Facebook" /></a>
        <a target=" _blank" href="https://youtube.com">
            <img class="social-icons" src="/public/img/youtube.svg" width="50" alt="Youtube" /></a>
        <a target="_blank" href="https://instagram.com">
            <img class="social-icons" src="/public/img/instagram.svg" width="50" alt="Instagram" />
        </a>
        <a target="_blank" href="https://linkedin.com">
            <img class="social-icons" src="/public/img/linkedin.svg" width="50" alt="Linkedin" />
        </a>
    </footer>
</body>

</html>